.head{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.contain{
    margin-top:2rem;
    background:rgb(206, 206, 206);
    padding: 5rem;
    /* margin-bottom: 2rem; */

}
h5 {
    text-align: center;
    padding: 0;
}
.containvote{
    display:flex;
    justify-content:space-around;
    
}
.graphcol{
    text-align: center;
}